{# src/LOG/LoginBundle/Resources/views/Signin/index.html.twig#}


<!DOCTYPE html>

<html>
    <head>
        <title> Signin page </title>
    </head>

    <body>
        {{ var }}
        {{  app.user == NULL}}


    </body>

</html>