{% extends 'RASPRaspBundle:User:layout.html.twig' %}
{% block meta_info %}
<title>UFR - Édition</title>
{% endblock %}

{% form_theme form _self %}

{% block submit_widget %}
    <div class="submit_widget">
        <input type="submit" id="form_save" class="btn btn-success" name="form[save]" value="Save"/>
    </div>
{% endblock %}


{% block content %}
    {{ form_start(form) }}
    <div class="container">
        <div class="list-group">
            <a class="list-group-item active"> Modification ou création d'une UFR </a>
            <a class="list-group-item">
                <div class="row">
                    <div class="col-sm-6"> Nom </div>
                    <div class="col-sm-6"> {{ form_widget(form.name) }}</div>
                </div>
            </a>
            <a class="list-group-item">
                <div class="row">
                    <div class="col-sm-6"> Valider </div>
                    <div class="col-sm-6"> {{ form_widget(form.save) }}</div>
                </div>
            </a>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}


