{% extends 'RASPRaspBundle::layout.html.twig' %}
{% block meta_info %}
    <title>Gestion Parc RCCF</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h3> Outil d'administration des bornes RCCF </h3>
        <div class="row-main">

            <div class="row">
                <div class="col-sm-4">
                    Bonjour
                </div>
                <div class="col-sm-8">
                    michel
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Au revoir
                </div>
                <div class="col-sm-8">
                    jeanne
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    adieu
                </div>
                <div class="col-sm-8">
                    l'espoir
                </div>
            </div>

        </div>
    </div>

{% endblock %}

