{# src/LOG/LoginBundle/Resources/views/layout.html.twig#}

{% extends "::layout.html.twig" %}

{% block meta_info %}
    <title> Signin </title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-theme.min.css') }}" />

{% endblock %}

{% block pages %}
<ul class="nav navbar-nav">
    {#
    {% set p_arr = {profile: 'Profile', users: 'Utilisateurs', group: 'Groupes'} %}
    {% for key, item in p_arr %}
        <li class=""nav-item active">
            <!<a class="nav-link navbar-brand" href="{{ path(key) }}"> {{ item }} </a>
        </li>
    {% endfor %}
    #}

</ul>
<ul class="nav navbar-nav navbar-right">
    <li class="nav-item">Outil de Gestion</li>
</ul>

{% endblock %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                One of three columns
            </div>
            <div class="col-sm-4">
                One of three columns
            </div>
            <div class="col-sm-4">
                One of three columns
            </div>
        </div>
    </div>

{% endblock %}


